.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.ModalContent {
    background: white;
    min-width: 250px;
    max-width: 600px; 
}

.Modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 8px 20px;
}