.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.phone {
    margin-bottom: 24px;
    color: green;
}

.delimiter {
    height: 1px;
    width: 100%;
    background: gray;
    margin-bottom: 24px;
}

.box {
    display: flex;
    flex-direction: row;
}

.title {
    padding-right: 20px;
}

.info {
    font-weight: 300;
}

.org-info {
    font-weight: 300;
    margin-top: 6px;
}